<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
    Ha entrado como {{ user.username }}
    <a href="{% url django.contrib.auth.views.logout %}" > logout </a>
    <br/>
    <a href="{% url show_follow_me user.pk %}">See following</a>
    <br/>
    <a href="{% url show_profile user.pk %}">See profile </a>
    <br/>
    <a href="{% url edit_user user.pk %}">Edit profile</a>
    <br/>
    <a href="{% url add_tweet user.pk %}">add tweet</a>
    </br>
    <a href="{% url edit_tweet user.pk %}">edit tweet</a>
    </br>
    <a href="{% url users %}">index users</a>
</html>
