<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}estilo.css">
</head>
<body>
    <div>
        Usuarios :
    </div>
    <hr/><h3>Numero de usuarios     ({{ users.count }}) </h3>
    {% for user in users.all %}
    <div>
        <h3> {{ user.users.last_name }}</h3>
        <img id="image" src="{{ MEDIA_URL }}{{ user.users.image_profile }}"/>
	<div class="comments">
            {% for tweet in user.users.tweets.all %}
            <div>Tweet({{ tweet.pk }})    : {{ tweet.status }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
